<div class="bgpic"></div>
<br><br>

<br>
<div class="form1">
    <h1 style="text-align:center;height:0.005px;background-color: inherit;">Crops in the Auction</h1>
    <table class="background">
       
<tr style="background-color:rgb(37, 145, 37); text-align: center; color:white;">

    <th>
        CID
    </th>
    <th>
        Crop Type
    </th>
    <th>
        Crop Name
    </th>
    
    <th>
        Base Price
    </th>
    <th>
        Current Bid
    </th>
    <th>
        Action
    </th>

    
</tr>
<tr *ngFor="let i of saleItems">
    <td>{{i.CID}}</td>
    <td>{{i.Crop_Type}}</td>
    <td>{{i.Crop_name}}</td>
    <td>{{i.Base_price}}</td>
    <td>{{i.Current_bid}}</td>
    <td><a><button class="btn btn-info" (click)="onBid(i.CID)" style="margin:auto;width:50%;margin-left: 20%;">Bid</button></a></td>
</tr>

</table> 




