<h3>Sold History Table</h3>
<br>

<table border="5" class="table">
<tr>
    <th>
        Sold Date
    </th>
    <th>
        Crop Name
    </th>
    <th>
        Quantity
    </th>
    <th>
        Base Price
    </th>
    <th>
        Sold Price
    </th>
    
</tr>
<tr *ngFor="let i of soldItems">
    <td>{{i.date}}</td>
    <td>{{i.Crop_name}}</td>
    <td>{{i.Quantity}}</td>
    <td>{{i.Base_price}}</td>
    <td>{{i.Sold_price}}</td>
    <td><a><button class="btn btn-danger btn-lg" routerLink="/farmer-welcome" >Back</button></a></td>
    


</tr>
</table>
