<div class="bgpic"></div>
<br><br>
<br>
<div class="form1">
    
    <table class="background">
        
        <tr style="background-color:rgb(37, 145, 37); text-align: center; color:white;">
           
            <th >
                Crop Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Base Price
            </th>
            <th>
                Sold Price
            </th>
             <th>
                Sold Date
            </th>
        </tr>
        <tr *ngFor="let i of soldItems">
           
            <td>{{i.Crop_name}}</td>
            <td>{{i.Quantity}}</td>
            <td>{{i.Base_price}}</td>
            <td>{{i.Sold_price}}</td>
            <td>{{i.date}}</td>
        </tr>   
        </table>
      



</div>
 