<div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACT</span><br><br>
              <span>US</span>
            </div>
         
            
          </div>
          <div class="screen-body-item">
            <div class="app-form">
                <form (ngSubmit)="submitForm()">
              <div class="app-form-group">
                <input class="app-form-control"  style="block-size: auto;color:black" name="name" placeholder="NAME" [(ngModel)]="name">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" style="color:black" name="email" placeholder="EMAIL" [(ngModel)]="email">
              </div>
              
              <div class="app-form-group message">
                
                <textarea class="app-form-control" style="color:black" name="message" placeholder= Query [(ngModel)]="message"></textarea>
              </div>
              <div class="app-form-group buttons">
                
                <button type="submit" class="app-form-button">SEND</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div style="font-size: larger;font-weight: bold;position:absolute;margin-top:10%;margin-right: 7%;margin-left:75%;">
      <h1 style="color:rgb(27, 16, 16)">Please feel free to Contact us!!</h1>
      <h3>Our employees are always available(24/7) and please dial the above numbers to reach us</h3>
      <p>Hyderabad:+10478952</p>
      <p>Delhi:+10478953</p>
      <p>Mumbai:+10478954</p>
      <p>UttarPradesh:+10478955</p><br>
      <h2 style="color:rgb(27, 16, 16)">Email:farmerteam@gmail.com</h2>
    </div>
  </div>