

<h3>Bid Approval Requests</h3>
<br>

<table align="center" class="table">
<tr>
    <th>
        Crop Name
    </th>
    <th>
        Crop Type
    </th>
    <th>
        Base Price
    </th>
    <th>
        Current Bid
    </th>
    <th>
        Bid Amount
    </th>
    
    
</tr>
<tr *ngFor="let i of listofBids">
    
    
    <td>{{i.crop_name}}</td>
    <td>{{i.crop_type}}</td>
    <td>{{i.base_price}}</td>
    <td>{{i.current_bid}}</td>
    <td>{{i.bid1}}</td>
    
    
    
    
    <td><a><button class="btn btn-success btn-lg" (click)="onAccept(i.BIID)" >Approve</button></a></td>
    <td><a><button class="btn btn-danger btn-lg" (click)="onReject(i.BIID)" >Reject</button></a></td>
    

</tr>
</table>

