<div class="bgpic"></div>
<br><br>
<br>
<div class="form1">
    <table class="background">
        
        <tr style="background-color:rgb(37, 145, 37); text-align: center; color:white;">
           
    <th>
        CID
    </th>
    <th>
        Crop Name
    </th>
    <th>
        Crop Type
    </th>
    <th>
        Action
    </th>
</tr>
<tr *ngFor ="let i of marketcrops">
    <td>{{i.CID}}</td>
    <td>{{i.crop_name}}</td>
    <td>{{i.crop_type}}</td>
    <td><a><button class="btn btn-success" (click)="onView(i.CID)" style="margin-left:40%;" >View</button></a></td>
</tr>
</table>
</div>

