<br><br>
<div class="container">
    
    <div class="btn-group">
      <button type="button" class="welcomebutton " color="primary" mat-raised-button (click)="UserRequests()">User Requests for Approval</button>
      <button type="button" class="welcomebutton" color="primary" mat-raised-button (click)="AuctionRequests()">Auction Requests by Farmers</button>
      <button type="button" class="welcomebutton" color="primary" mat-raised-button (click)="BidRequests()">Bid Requests ny Bidders</button>
    </div>
  </div>