<div class="bgpic">
    <div class="container">
        <br/>
        <br/>
        <!-- LOGIN FORM -->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 container justify-content-center">
              
                <div class="account-wall">
                    <mat-icon style="margin-left:40%;font-size: 70px; color:green">eco</mat-icon>    
                    <h1 class="text-center login-title text-green font-weight-normal" style="color:green">
                        Hello Bidder!!<br>
                        Please Enter login details
                    </h1>   
                    <!-- ICON FOR LOGIN FORM -->
                    <!-- <div margin=""></div>
                    <mat-icon>person</mat-icon> -->
                    
                
                    <form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="form-signin">
                        <!-- email address -->
                        <div class="form-group">
                            <label for="email" class="font-weight-bold">
                                Email ID : </label>
                            <input type="text" class="form-control" placeholder="Email Id " formControlName="email" />
<!-- 
                            <div *ngIf="submitted  &&  loginForm.controls.CustomerID.errors">
                                <div class="alert alert-danger" *ngIf="loginForm.controls.CustomerID.errors.required">
                                    CustomerID is required !
                                </div>
                            </div> -->

                            <!-- <div *ngIf="submitted  &&  loginForm.controls.CustomerID.errors">
                                <div class="text-danger" *ngIf="loginForm.controls.CustomerID.errors.pattern">
                                    Invalid Customer Id !
                                </div>
                            </div> -->


                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            <label for="password" class="font-weight-bold">
                                Password : </label>
                            <input type="password" class="form-control" placeholder="Password" maxlength="15" formControlName="password" />

<!-- 
                            <div *ngIf="submitted  &&  loginForm.controls.LoginPassword.errors">
                                <div class="alert alert-danger" *ngIf="loginForm.controls.LoginPassword.errors.required">
                                    Password is required !
                                </div>
                            </div> -->
                        </div>

                        <button class="btn btn-outline-success">Login 
                         </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                        <button class="btn btn-outline-danger" type="reset"> Cancel</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-warning" routerLink="">
                            Home</a>
                        <br/>
                        <br/>
                        <br>
                         <a routerLink="/forgotcustomerid" style="color:red" routerLink="/forgotpassword">Forgot Password?</a> &nbsp; &nbsp;&nbsp;
                        <br><br>
                        <div>
                            Not Registerd?<a routerLink="/bidderregister">  Signup Here</a>
                        </div> 
                        
                        <!-- <div class="error" *ngIf="invalidLogin">
                            <div class="text-danger">
                                Invalid Customer Id or Password !
                            </div>
                        </div> -->
                    </form>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <br/>
            <br/>
        </div>
    </div>
    <!-- <div>
        <img [src]="myimage" style="height:1000px ;width:1500px" >
    </div> -->
   
</div>