<h3>request</h3>
<div class="form">
<div class="list-header-title">Hello Farmer
    <form [formGroup]="requestForm" >
    <mat-form-field>
      <input id="cropType"
             matInput
             formControlName="cropType"
             [(ngModel)]="request.cropType"
             placeholder="Enter crop Type" />
    </mat-form-field>
    <br>
    <mat-form-field>
        <input id="cropName"
               matInput
               formControlName="cropName"
               [(ngModel)]="request.cropName"
               placeholder="Enter crop Name" />
      </mat-form-field>
      <br>
      <mat-form-field>
        <input id="fertType"
               matInput
               formControlName="fertType"
               [(ngModel)]="request.fertType"
               placeholder="Enter fertilizer type" />
      </mat-form-field>
      <br>
      <mat-form-field>
        <input id="quantity"
               matInput
               formControlName="quantity"
               [(ngModel)]="request.quantity"
               placeholder="Enter quantity" />
      </mat-form-field>
      <br>
      <mat-form-field>
        <input id="basePrice"
               matInput
               formControlName="basePrice"
               [(ngModel)]="request.basePrice"
               placeholder="Enter base price" />
      </mat-form-field>
    
     
<!-- <form [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm.value)"> -->

</form>
</div>
<button mat-raised-button color="primary" (click)="onSubmit()">Place Request</button>
</div>



