

     
<form [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm.value)">
    
    <div class="form-group">
    Crop Type: <input formControlName="cropType"  placeholder="Enter Crop Type">
    </div>  
    <div class="form-group">
    Crop Name: <input formControlName="cropName"  placeholder="Enter Crop Name">
</div>

<div class="form-group">
    Fertilizer Type: <input formControlName="fertType"  placeholder="Enter Fertilizer Type">
</div>
<div class="form-group">
    Quantity: <input formControlName="quantity"  placeholder="Enter Quantity">
</div>
<div class="form-group">
    Base Price: <input formControlName="basePrice"  placeholder="Enter Base Price">
</div>

<div class="text-center">
    <button type="submit">Place Request</button> 
</div>
</form>



