<h3>Bidder Marketplace Table</h3>
<br>

<table align="center" class="table">
<tr>
    <th>
        Crop Type
    </th>
    <th>
        Crop Name
    </th>
    
    <th>
        Base Price
    </th>
    <th>
        Current Bid
    </th>
    
</tr>
<tr>
    <td>{{item.crop_type}}</td>
    <td>{{item.crop_name}}</td>
    <td>{{item.base_price}}</td>
    <td>{{item.current_bid}}</td>
    
    
    


</tr><br><br>
<label for="bidamount">Bid Amount:</label>
  <input [(ngModel)]="bidamount" type="text"  id="bidamount" name="bidamount"><br><br>
  
<a><button class="btn btn-danger btn-lg" (click)="onPlaceBid(bidamount)" >Place Bid</button></a>
<a><button class="btn btn-danger btn-lg" routerLink="/bidder-welcome" >Back</button></a>
</table>

