

<h3>Admin Marketplace</h3>
<br>

<table border="5" class="table">
<tr>
    <th>
        CID
    </th>
    <th>
        Crop Name
    </th>
    <th>
        Crop Type
    </th>
    <th>
        Base Price
    </th>
    <th>
        Current Bid
    </th>
    <th>
        Bidder Name
    </th>
    
    
</tr>
<tr *ngFor="let i of listofCrops">
    <td>{{i.CID}}</td>
    
    <td>{{i.crop_name}}</td>
    <td>{{i.crop_type}}</td>
    <td>{{i.base_price}}</td>
    <td>{{i.current_bid}}</td>
    <td>{{i.bidder_name}}</td>
    
    <td><a><button class="btn btn-success btn-lg" (click)="onSold(i.CID)" >Sell Crop</button></a></td>
    
    

</tr>
</table>

