<h3>Crop Market Status</h3>
<br>

<table border="5" class="table">
<tr>
    <th>
        Crop Type
    </th>
    <th>
        Crop Name
    </th>
    
    <th>
        Base Price
    </th>
    <th>
        Current Bid
    </th>
    <th>
        Previos Bids
    </th>
    
</tr>
<tr>
    <td>{{item.crop_type}}</td>
    <td>{{item.crop_name}}</td>
    <td>{{item.base_price}}</td>
    <td>{{item.current_bid}}</td>
    <td *ngFor="let i of previousbids">{{i.bid1}}</td>
    
    
    


</tr><br><br>
<a><button class="btn btn-danger btn-lg" routerLink="/bidder-welcome" >Back</button></a>
</table>

