<h3>Crop Market Status</h3>
<br>

<table align="center" class="table">
<tr>
    <th>
        Crop Type
    </th>
    <th>
        Crop Name
    </th>
    
    <th>
        Base Price
    </th>
    <th>
        Current Bid
    </th>

    
</tr>
<tr>
    <td>{{marketcrop.crop_type}}</td>
    <td>{{marketcrop.crop_name}}</td>
    <td>{{marketcrop.base_price}}</td>
    <td>{{marketcrop.current_bid}}</td>
</tr><br><br>
<!-- <table border="5" class="table"></table>
<tr>
    <th>
        Previous Bids
    </th>
        
</tr>
<tr *ngFor="let i of previousbids">
    <td>{{i.bid1}}</td>
</tr> -->

<a><button class="btn btn-danger btn-lg" routerLink="/bidder-welcome" >Back</button></a>
</table>

