

<h3>User Approval Requests</h3>
<br>

<table align="center" class="table">
<tr>
    <th>
        UID
    </th>
    <th>
        Full Name
    </th>
    <th>
        Email
    </th>
    <th>
        Mobile
    </th>
    
</tr>
<tr *ngFor="let i of listUsers">
    <td>{{i.UID}}</td>
    <td>{{i.full_name}}</td>
    <td>{{i.email}}</td>
    <td>{{i.contactno}}</td>
    
    <td><a><button class="btn btn-success btn-lg" (click)="onView(i.UID)" >View All Details</button></a></td>
    <!-- <td><a><button class="btn btn-danger btn-lg" (click)="onReject(i.UID)" >Reject</button></a></td> -->
    

</tr>
</table>
