.homegpic{
    background-position: center;
    height:100%;
    background-image: url("src/assets/images/FarmerwelcomeBGI.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  /*.img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
 }  */




.welcomebutton{
    margin-left: 100px;
    margin-top:100px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(209, 202, 212, 0.712);
    max-width: 250px;
    height: 250px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
  }
  

  .card-body{
    text-align: center;
    font-size:20px;   
    height: 100%;
  }
  button {
    
    border: none;
    outline: 0;
    padding: 12px;
    color:white;
    background-color:green;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 0.5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }