<div class="homegpic">
  <br><br><br><br>
  
    <div class="row">
  
      <div class="column">  
    <div class="card">
      <!-- <img src="../assets/images/card5.jpg" alt="farmers auction" style="width:100%"> -->
      
      <p><button type="button"  color="primary" mat-raised-button (click)="goToAuction()">Place Aution Request</button></p>
    </div>
    </div>
  
  
    <div class="column">
   <div class="card">
      <!-- <img src="../assets/images/finalcard.png" alt="farmers auction" style="width:100%"> -->
      
      <p><button type="button"  color="primary" mat-raised-button (click)="goToSoldHistory()">Sold History</button></p>
    </div>
    </div>
  
  
     <div class="column">   
    <div class="card">
      <!-- <img src="../assets/images/finalcard2.png" alt="farmers auction" style="width:100%"> -->
      
      <p><button type="button"  color="primary" mat-raised-button (click)="goToMarketplace()">View Marketplace</button></p>
    </div> 
     </div>
  
  
  
    </div> 
  <br><br><br><br><br><br><br><br><br><br>
    </div>