<div class="homegpic">
  <br><br><br><br>
  
    <div class="row">
  
      <div class="column">  
    <div class="card">
      <!-- <img src="../assets/images/card5.jpg" alt="farmers auction" style="width:100%"> -->
      
      <p><button type="button" mat-raised-button (click)="goToAuction()">Place Sell Request</button></p>
      <p class="card-body">
        <br><br>
        Want to sell your crop?<br><br>
         Place a request!!
       
      </p>
    </div>
    </div>
  
  
    <div class="column">
   <div class="card">
      <!-- <img src="../assets/images/finalcard.png" alt="farmers auction" style="width:100%"> -->
      
      <p><button type="button"  mat-raised-button (click)="goToSoldHistory()">Sold History</button></p>
      <p class="card-body">
        <br>
        Checkout your sold <br><br>crops
         
       
      </p>
    </div>
    </div>
  
  
     <div class="column">   
    <div class="card">
      <!-- <img src="../assets/images/finalcard2.png" alt="farmers auction" style="width:100%"> -->
      
      <p><button type="button"  mat-raised-button (click)="goToMarketplace()">View Marketplace</button></p>
      <p class="card-body">
        <br>
        Check yur crop's<br><br>Bid status<br>
         
       
      </p>
    </div> 
     </div>
  
  
  
    </div> 
  <br><br><br><br><br><br><br><br><br><br>
    </div>