
<div class="bgpic">
  <br><br>
<div class="formdesign" >
  <h1 class="card-header" style="font-size: 40px;text-align:center;color:black">Signup and Start Selling</h1>
  <div class="card-body">
      <form class= "form-margin" [formGroup]="registerForm" (ngSubmit)="onNext()">
              <div class="form-group col-10">
                  <label>Full Name</label>
                  <input type="text" formControlName="full_name" class="form-control" pattern="[A-Za-z]{2,}$" title="Name should contain atleast 2 letters" [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }" />
                  <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                      <div *ngIf="f.full_name.errors.required">Name is required</div>
                </div>
              </div>
              <div class="form-group col-5">
                  <label>Contact Number</label>
                  <input type="text" formControlName="contactno" class="form-control"   pattern="^[0-9]{10}$" title="Contact Number should contain 10 digits" [ngClass]="{ 'is-invalid': submitted && f.contactno.errors }"  />      
                              <div *ngIf="submitted && f.contactno.errors" class="invalid-feedback">
                      <div *ngIf="f.contactno.errors.required">Contact Number is required</div>
                      
                  </div>
              </div>
          
          <div class="form-group col-10">
              <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Invalid Email format" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
          </div>
    
            <div class="form-group col-10">
              <label>Address Line1</label>
              <input type="text" formControlName="address_line1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address_line1.errors }" />
              <div *ngIf="submitted && f.address_line1.errors" class="invalid-feedback">
                  <div *ngIf="f.address_line1.errors.required"> Please provide the address</div>
              </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
           <div class="form-group col-10">
            <label>Address Line2</label>
            <input type="text" formControlName="address_line2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address_line2.errors }" />
            <div *ngIf="submitted && f.address_line2.errors" class="invalid-feedback">
                <div *ngIf="f.address_line2.errors.required"> Please provide the address</div>
           </div>
          </div>
      
          <div class="form-group col-7">
              <label>City</label>
              <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">Please enter your city</div>
                  
              </div>
              
                <label>State</label>
                <input type="text" formControlName="state" class="form-control" [ngClass]="{'is-invalid': submitted && f.state.errors }" />
                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                    <div *ngIf="f.state.errors.required">Please enter your state</div>
                    
                </div>
              </div>
        
              <div class="form-group col-7">
                <label>Pincode</label>
                <input type="text" formControlName="pincode" class="form-control"  pattern="^[0-9]{4,}$" title="Invalid Pincode" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
                <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                    <div *ngIf="f.pincode.errors.required">Please enter your residence pincode</div>
                    
                </div>
              </div>
              <div class="form-group col-7">
                <label>Land Area</label>
                <input type="text" formControlName="land_area" class="form-control" pattern="^[0-9]{1,}$" title="Area shouldnt be zero"[ngClass]="{ 'is-invalid': submitted && f.land_area.errors }" />
                <div *ngIf="submitted && f.land_area.errors" class="invalid-feedback">
                    <div *ngIf="f.land_area.errors.required">Please enter your Land Area</div>
                    
                </div>
              </div>
              <div class="form-group col">
                <label>Land Address</label>
                <input type="text" formControlName="land_address" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.land_address.errors }" />
                <div *ngIf="submitted && f.land_address.errors" class="invalid-feedback">
                    <div *ngIf="f.land_address.errors.required">Please enter your Land address</div>
                    
                </div>
              </div>
              <div class="form-group col-7">
                <label>Land Pincode</label>
                <input type="text" formControlName="land_pincode" class="form-control" pattern="^[0-9]{4,}$" title="Invalid Pincode" [ngClass]="{ 'is-invalid': submitted && f.land_pincode.errors }" />
                <div *ngIf="submitted && f.land_pincode.errors" class="invalid-feedback">
                    <div *ngIf="f.land_pincode.errors.required">Please enter your Land Pincode</div>
                    
                </div>
              </div>
              <div margin="10px" class="form-row">
                <div class="form-group col">
                  <label>Account Number</label>
                  <input type="text" formControlName="account_no" class="form-control" pattern="^[0-9]{4,}$" title="Invalid Account Number" [ngClass]="{ 'is-invalid': submitted && f.account_no.errors }" />
                  <div *ngIf="submitted && f.account_no.errors" class="invalid-feedback">
                      <div *ngIf="f.account_no.errors.required">Please enter your Bank account Number</div>
                      
                  </div>
                </div>
                <div class="form-group col">
                  <label>IFSC Code</label>
                  <input type="text" formControlName="ifsc" class="form-control" pattern="^[A-Za-z0-9]{4,}$" title="Invalid IFSC code"[ngClass]="{ 'is-invalid': submitted && f.ifsc.errors }" />
                  <div *ngIf="submitted && f.ifsc.errors" class="invalid-feedback">
                      <div *ngIf="f.ifsc.errors.required">Please enter your IFSC code</div>
                      
                  </div>
                </div>
              </div>
            
          <div class="form-row">
              <div class="form-group col">
                  <label>Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
              
              <div class="form-group col">
                  <label>Confirm Password</label>
                  <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
              </div>
          </div>
          <!-- <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
              <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
          </div> -->
          <div class="text-center">
              <button class="btn btn-primary mr-1"> Next </button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>

      </form>
  </div>
</div>
<br><br>
</div>